<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="heruijun.com.myrxjava">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".CreateActivity"/>
        <activity android:name=".TransformActivity"/>
        <activity android:name=".FilterActivity"/>
        <activity android:name=".CombineActivity"/>

    </application>

</manifest>
